<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of columns">
          <ng-container *ngIf="column.property === 'logo'; else defaultTemplate">
            <img [src]="row[column.property]" alt="Logo">
          </ng-container>
          <ng-template #defaultTemplate>
            {{ row[column.property] }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
