.table-container {
  display: table;
  color: #3d3d40;
  margin: 0;
  padding: 0;
  background-color: white;
  padding: 30px 30px;
}

.table-container table {
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  text-align: center;
  padding: 20px;
}

.table-container th {
  background-color: #f9fafc;
}

.table-container .table-row {
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.span,
.i{
  color:#929296
}

.img{
  width: 50px;
}

.actions-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu div {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu div:hover {
  background-color: #f0f0f0;
}

.table-footer{
  margin-top: 20px;
  font-weight: bold;
}

