<ng-container>
  <div class="container-input">
    <input type="text" placeholder="search..."/>
    <app-button
      buttonColor="primary"
      size="medium"
      [disabled]="false"
      (clicked)="handleButtonClick()"
    >
      Agregar
    </app-button>
  </div>
  <app-table
    [columns]="tableColumns"
    [rows]="products"
    [rowsLength]="products.length"
    [dropdownIconClass]="dropdownIconClass"
    [columnIconClass]="columnIconClass"
    (edit)="editRow($event)"
    (delete)="deleteRow($event)"
  ></app-table>
</ng-container>
