/* Estilos para el contenido principal */
main {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Añadido para estirar el contenido verticalmente */
  height: 100vh;
  background-color: aliceblue;
}

.content-container {
  max-width: 800px; /* Ajusta el valor según tus necesidades */
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
  .content-container {
    max-width: 90%; /* Ajusta el valor según tus necesidades */
  }
}
