<div class="form">
  <div class="title-container">
    <H1>Formulario de Registro</H1>
  </div>
  <hr>
  <div class="form-container">
    <form  [formGroup]="registroForm">
      <div class="inputs">
        <div class="div-input" [ngClass]="{ 'error': id.invalid && (id.dirty || id.touched)}">
          <label for="id">ID:</label>
          <input type="text" id="id" formControlName="id" [(ngModel)]="idLS" [disabled]="edit"/>
          <div *ngIf="this.registroForm.invalid && (id.dirty || id.touched)">
            <div class="error-message" *ngIf="id.errors?.required">
              El ID es requerido.
            </div>
            <div class="error-message" *ngIf="id.errors?.minlength">
              El ID debe tener al menos 3 caracteres.
            </div>
            <div class="error-message" *ngIf="id.errors?.maxlength">
              El ID debe tener como máximo 10 caracteres.
            </div>
            <div class="error-message" *ngIf="id.errors?.invalidId">
              El ID no es válido.
            </div>
          </div>
        </div>

        <div class="div-input" [ngClass]="{ 'error': nombre.invalid && (nombre.dirty || nombre.touched)}">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" formControlName="nombre" [(ngModel)]="nameLS"/>
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div class="error-message" *ngIf="nombre.errors?.required">El nombre es requerido.</div>
            <div class="error-message" *ngIf="nombre.errors?.minlength">
              El nombre debe tener al menos 5 caracteres.
            </div>
            <div class="error-message" *ngIf="nombre.errors?.maxlength">
              El nombre debe tener como máximo 100 caracteres.
            </div>
          </div>
        </div>

        <div class="div-input" [ngClass]="{ 'error': descripcion.invalid && (descripcion.dirty || descripcion.touched)}">
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" formControlName="descripcion" [(ngModel)]="descriptionLS"></textarea>
          <div
            *ngIf="
              descripcion.invalid && (descripcion.dirty || descripcion.touched)
            "
          >
            <div class="error-message" *ngIf="descripcion.errors?.required">
              La descripción es requerida.
            </div>
            <div class="error-message" *ngIf="descripcion.errors?.minlength">
              La descripción debe tener al menos 10 caracteres.
            </div>
            <div class="error-message" *ngIf="descripcion.errors?.maxlength">
              La descripción debe tener como máximo 200 caracteres.
            </div>
          </div>
        </div>

        <div class="div-input" [ngClass]="{ 'error': logo.invalid && (logo.dirty || logo.touched)}">
          <label for="logo">Logo:</label>
          <input type="text" id="logo" formControlName="logo" [(ngModel)]="logoLS"/>
          <div *ngIf="logo.invalid && (logo.dirty || logo.touched)">
            <div class="error-message" *ngIf="logo.errors?.required">El logo es requerido.</div>
          </div>
        </div>

        <div class="div-input" [ngClass]="{ 'error': fechaLiberacion.invalid && (fechaLiberacion.dirty || fechaLiberacion.touched)}">
          <label for="fechaLiberacion">Fecha de Liberación:</label>
          <input
            type="date"
            id="fechaLiberacion"
            formControlName="fechaLiberacion"
            value="date:'dd/MM/yyyy'"
            [ngModel]="fechaLiberacionLS | date:'yyyy-MM-dd' : 'UTC'"
            (ngModelChange)="fechaLiberacionLS"
          />
          <div *ngIf="fechaLiberacion.invalid && (fechaLiberacion.dirty || fechaLiberacion.touched)">
            <div class="error-message" *ngIf="logo.errors?.required">La fecha de liberación es requerida.</div>
          </div>
        </div>

        <div class="div-input">
          <label for="fechaRevision">Fecha de Revisión:</label>
          <input
            [type]="this.oneYearAfter ? 'text' : 'date'"
            [value]="this.oneYearAfter ? this.oneYearAfter : null"
            id="fechaRevision"
            formControlName="fechaRevision"
            [ngModel]="fechaRevisionLS | date:'dd-MM-yyyy' : 'UTC'"
            (ngModelChange)="fechaRevisionLS"
          />
        </div>
      </div>
      <div class="container-buttons">
        <app-button
        buttonColor="secondary"
        size="medium"
        [disabled]="false"
        (clicked)="resetForm()"
        >
          Reiniciar
        </app-button>
        <app-button
        buttonColor="primary"
        size="medium"
        [disabled]="registroForm.invalid"
        (clicked)="submitForm()"
        >
          Enviar
        </app-button>
      </div>

    </form>
  </div>
</div>
